<!DOCTYPE html>
<html>
<head> 
<meta charset="ISO-8859-1">
<title>Js Breakout</title>
<link rel="stylesheet" type="text/css" href="/JsBreakout/style/style.css" />

<link rel="stylesheet" type="text/css" href="/JsBreakout/lib/jquery-ui-1.11.4.custom/jquery-ui.min.css" />


</head>
<body ng-app="particleEditor">
	<div id="game">
			<div id="ingame"><canvas  id="myCanvas"  ></canvas></div>
	</div>
	<div id="debugMenu">
		<input type="button" value="start" onclick="start()"  />
		<input type="button" value="Fade" onClick="setAnimation(0)" />
		<input type="button" value="Particles" onclick="setAnimation(1)"/>
		<input type="button" value="Shake" onclick="setAnimation(2)"/>
		<input type="button" value="Dash" onclick="setAnimation(3)"/>
		<input type="button" value="Lightning" onclick="setAnimation(4)"/>
		<input type="button" value="Triangles" onclick="setAnimation(5)"/>
		<input type="button" value="Fog" onclick="setAnimation(6)"/>
		
		<div>
			<div ng-controller="fadeController" class="animationOptions">
				<span>Fade options</span>
				<div>
					<span>Rate: </span>
					<input type="text" ng-model="config.rate" />
					<slider min="0.01" max="1" step="0.01" ng-model="config.rate"></slider>
				</div>	
			</div>
			<div ng-controller="particlesController" id="animation1" class="animationOptions">
				<span>Animation 1:</span>
				<div>
					<span>Collision circle size: </span>
					<input type="text" ng-model="config.colCircleSize" />
					<slider min="1" max="50" step="0.25" ng-model="config.colCircleSize"></slider>
				</div>							
				<div>
					<span>Amount circles: </span>
					<input type="text" ng-model="config.amountCircles" />
					<slider min="1" max="500" step="1" ng-model="config.amountCircles"></slider>
				</div>
				<div>
					<span>Amount circles waves: </span>
					<input type="text" ng-model="config.amountCircleWaves" />
					<slider min="1" max="500" step="1" ng-model="config.amountCircleWaves"></slider>
				</div>
				<div>
					<span>Circle Size: </span>
					<input type="text" ng-model="config.circleSize" />
					<slider min="1" max="100" step="0.25" ng-model="config.circleSize"></slider>
				</div>
				<div>
					<span>Circle X Rate: </span>
					<input type="text" ng-model="config.circleXRate" />
					<slider min="1" max="100" step="0.25" ng-model="config.circleXRate"></slider>
				</div>	
				<div>
					<span>Circle Y Rate: </span>
					<input type="text" ng-model="config.circleYRate" />
					<slider min="1" max="100" step="0.25" ng-model="config.circleYRate"></slider>
				</div>	
				<div>
					<span>Circle Fade: </span>
					<input type="text" ng-model="config.circleFade" />
					<slider min="0.01" max="1" step="0.01" ng-model="config.circleFade"></slider>
				</div>							
				<input type="button" value="print"  onclick="console.log(first.config)"/>
			</div>
			<div ng-controller="shakeController" class="animationOptions">
				<span>Shake options</span>
				<div>
					<span>Shake Frames: </span>
					<input type="text" ng-model="config.shakeFrames" />
					<slider min="1" max="100" step="1" ng-model="config.shakeFrames"></slider>
				</div>
				<div>
					<span>Shake Strength: </span>
					<input type="text" ng-model="config.shakeStrength" />
					<slider min="1" max="50" step="0.25" ng-model="config.shakeStrength"></slider>
				</div>	
			</div>
			<div id="animation2" ng-controller="dashesController" class="animationOptions">
				<span> Animation 2</span>
				<div>
					<span>Amount dashes: </span>
					<input type="text" ng-model="config.amountDashes" />
					<slider min="1" max="100" step="1" ng-model="config.amountDashes"></slider>
				</div>
				<div>
					<span>Spread speed: </span>
					<input type="text" ng-model="config.speed" />
					<slider min="0.1" max="100" step="0.1" ng-model="config.speed"></slider>
				</div>
				<div>
					<span>Move speed: </span>
					<input type="text" ng-model="config.moveSpeed" />
					<slider min="0.1" max="100" step="0.1" ng-model="config.moveSpeed"></slider>
				</div>			
				<div>
					<span>Lense facotr: </span>
					<input type="text" ng-model="config.factor" />
					<slider min="0.01" max="1" step="0.01" ng-model="config.factor"></slider>
				</div>	
				<div>
					<span>Radius: </span>
					<input type="text" ng-model="config.radius" />
					<slider min="0.1" max="100" step="0.1" ng-model="config.radius"></slider>
				</div>
				<div>
					<span>Spread Angle: </span>
					<input type="text" ng-model="config.spreadAngle" />
					<slider min="0.1" max="365" step="0.1" ng-model="config.spreadAngle"></slider>
				</div>		
				<div>
					<span>Flare size: </span>
					<input type="text" ng-model="config.flareSize" />
					<slider min="0.1" max="100" step="0.1" ng-model="config.flareSize"></slider>
				</div>	
				<div>
					<span>Fade rate: </span>
					<input type="text" ng-model="config.fadeRate" />
					<slider min="0.01" max="1" step="0.01" ng-model="config.fadeRate"></slider>
				</div>		
				<div>
					<span>Initial alpha: </span>
					<input type="text" ng-model="config.initialAlpha" />
					<slider min="0.01" max="1" step="0.01" ng-model="config.initialAlpha"></slider>
				</div>			
			</div>
			<div ng-controller="lightningController" class="animationOptions">
				<span>Lightning options: </span>
			</div>
		</div>
	</div>
<script type="text/javascript" src="/JsBreakout/lib/TweenJS-0.6.1/lib/tweenjs-0.6.1.combined.js"></script>
<script type="text/javascript" src="/JsBreakout/lib/EaselJS-0.8.1/lib/easeljs-0.8.1.combined.js"></script>
<script type="text/javascript" src="/JsBreakout/lib/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
<script type="text/javascript" src="/JsBreakout/lib/jquery-ui-1.11.4.custom/jquery-ui.min.js" ></script>
<script type="text/javascript" src="/JsBreakout/lib/angular.min.js" ></script>
<script type="text/javascript" src="animations.js"></script>
<script>

	angular.module('particleEditor', [])
	.factory('$exceptionHandler', function() {
	  return function(exception, cause) {
	    exception.message += ' (caused by "' + cause + '")';
	    throw exception;
	  };
	})
	.controller("fadeController", function($scope){
		$scope.config = fade.config;
	})
	.controller("particlesController", function($scope){
		$scope.config = particles.config;
	})
	.controller("shakeController", function($scope){
		$scope.config = shake.config;
	})
	.controller("dashesController", function($scope){
		$scope.config = dashes.config;
	})
	.controller("lightningController", function($scope){
		$scope.config = lightning.config;
	})
	.directive('slider', function() {
	    return {
	        restrict: 'AE',
	        link: function(scope, element, attrs) {
	            element.slider({
	                value: scope.ngModel,
	                min: parseInt(attrs.min),
	                max: parseInt(attrs.max),
	                step: parseFloat(attrs.step),
	                slide: function(event, ui) {
	                    scope.$apply(function() {
	                        scope.ngModel = ui.value;
	                    });
	                }
	            });
	            
	            scope.$watch("ngModel", function(){
	            	console.log("changed");
	            	element.slider('value', scope.ngModel);
	            	
	            });
	        },
	        scope : {
	        	ngModel : '='
	        }
	    };
	});
	


	var stage = new createjs.Stage("myCanvas");
	stage.canvas.width = 800;
	stage.canvas.height = 300;
	createjs.Ticker.setFPS(60);
	createjs.Ticker.addEventListener("tick", stage);

	
	
/* 	arc = new createjs.Shape();
	arc.graphics.beginStroke('white')
		.beginRadialGradientFill(["#000","#00F"], [0, 1], 0, 0, 95, 0, 0, 100)
		.arc(0,0,100,45*(Math.PI/180), 135*(Math.PI/180) );
	arc.x = 200;
	arc.y = 150;
	arc.rotation = 45;
	
	arc2 = new createjs.Shape();
	arc2.graphics.beginStroke('white')
		.beginRadialGradientFill(["#000","#00F"], [0, 1], 0, 0, 95, 0, 0, 100)
		.arc(0,0,100,45*(Math.PI/180), 135*(Math.PI/180) );
	arc2.x = 200;
	arc2.y = 150;
	//arc2.rotation = 45;
	
	var rct = new createjs.Shape();
	rct.graphics.beginStroke('white').drawRect(0,0,1,1);
	rct.x = 200;
	rct.y = 150;
	stage.addChild(rct);
	stage.addChild(arc); 
	stage.addChild(arc2);
	 */
	//GLOBAL STUFF
	var brick, ball, result;
	var called;
	function start(){
		

		called = false; 
		if(typeof brick !== 'undefined'){
			brick.removeAllEventListeners("tick");
			stage.removeChild(brick);
		}
		if(typeof ball !== 'undefined'){
			stage.removeChild(ball);
		}
		
		brick = new createjs.Shape();
		brick.graphics.beginFill('blue').drawRect(0,0,50,20);
		brick.x = 100;
		brick.y = 100;
		brick.setBounds(0,0,50,20);
		stage.addChild(brick);
		
		ball = Ball();
		var collisionDetector = CollisionDetector();
		ball.load();
		ball.start();
		
		if(!stage.hasEventListener("tick")){
			stage.addEventListener("tick", function(){
				result = collisionDetector.checkCollision(ball.getShape(), brick);
				if(result.collided == true && !called){
					ball.direction = {x : 0, y : 1};
					startAnimation();
					called = true;
				};	
			});	
		}
		
		
		/*shape.onFrame = function(){
				result = collisionDetector.checkCollision(ball.getShape(), brick);
				if(result.collided == true){
					ball.direction = {x : 0, y : 1};
					startAnimation();
				};	
		}*/
		
	};
	
	var animList = [];
	function startAnimation(){
		brick.addEventListener("tick", function(){
			for(var i = 0; i < animations.length; i++){
				animations[i]();
			}
		});
		for(var i = 0; i < animList.length ; i++){
			animList[i]();
		}
	}
	
	var animationList = [fade, particles, shake, dashes, lightning, triangles, fog];
	function setAnimation(number){
		var index = animList.indexOf(animationList[number]);
		if(index === -1){
			animList.push(animationList[number]);
		}else{
			animList.splice(index,1);
		}
	};
	
	
	// LIBS
	
	
	
	function Ball(){
		var ball;
		
		var createShape = function(){
			ball = new createjs.Shape();
			ball.graphics.beginFill("DeepSkyBlue").drawCircle(0, 0, 10);
			ball.x = 120;
			ball.y = 250;
			ball.radius = 10;
			stage.addChild(ball);
		};
		
		
		
		var myBall = {
			radius : 10,
			getShape : function(){
				return ball;
			},
			speed : 5,
			direction : { x : 0 , y : -1 } , 
			load : function(){
				createShape();
			},
			start : function(){
				ball.addEventListener("tick", function(){
					ball.x = ball.x + myBall.direction.x * myBall.speed;
					ball.y = ball.y + myBall.direction.y * myBall.speed;
				});
				
			},
			stop : function(){
				ball.removeEventListener("tick");
			},
			destroy : function(){
				stage.removeChild(ball);
			}
		};
		
		return myBall;
	};
	
function CollisionDetector(){
		
		function distanceSquared(x1, y1, x2,y2){
			var deltaX = x2 - x1; 
			var deltaY = y2 - y1; 
			return deltaX*deltaX + deltaY*deltaY;
		}
		
		return {
			checkCollision : function(ball, rect){
				var cX, xY;
				var verticalHit = false;
				
				if(ball.x < rect.x){
					// Ball is on the left side
					cX = rect.x;
				}else{
					if(ball.x > rect.x + rect.getBounds().width ){
						//Ball is on the right side
						cX = rect.x + rect.getBounds().width;
					}else{
						
						//Ball is between left and right side
						cX = ball.x;
						verticalHit = true;
					}
				}
				
				if(ball.y < rect.y){
					cY = rect.y;
				}else{
					if(ball.y > rect.y + rect.getBounds().height){
						cY = rect.y + rect.getBounds().height;
					}else{
						cY = ball.y;
					}
				}
				
				//If the closest point is inside the circle 
				if( distanceSquared( ball.x, ball.y, cX, cY ) < ball.radius * ball.radius ) {
					
					//This box and the circle have collided 
					return { collided : true, verticalHit : verticalHit, position : {x : ball.x, y: ball.y} }; 
				} 
				//If the shapes have not collided 
				return { collided : false };
			}
		};
	};

</script>
</body>

</html>